<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.demo.mapper.SysParameterMapper" >
<!--查找所有的参数id和name  -->
<select id="selectAllParameter" resultType="com.demo.dto.ParameterIdName">
select id,parm_name as name from sys_parameter 
</select>
   <!--通过id查找参数的详细信息  -->
<select id="selectParameterById" parameterType="int" resultType="com.demo.po.SysParameter">
select * from sys_parameter where id=#{id}

</select>

<!-- 插入参数的信息 -->
<insert id="insertParameter" parameterType="com.demo.po.SysParameter">
insert into sys_parameter(parm_type,parm_value,parm_name,parm_name_en,is_show,
create_time,update_time,create_oper,update_oper) 
values(#{parm_type},#{parm_value},#{parm_name},#{parm_name_en},
#{is_show},#{create_time},#{update_time},#{create_oper},#{update_oper})
</insert>

<!--插入时，判断参数的参数类型是否已经存在了，存在则插入  -->
<select id="selectParameterType" parameterType="String" resultType="com.demo.po.SysParameter">
select * from sys_parameter where parm_type=#{parm_type} limit 1
</select>





<!--更新参数的信息  -->
<update id="updateParameter" parameterType="com.demo.po.SysParameter">
update sys_parameter set parm_type=#{parm_type},parm_value=#{parm_value},parm_name=#{parm_name},
parm_name_en=#{parm_name_en},is_show=#{is_show},create_time=#{create_time},update_time=#{update_time},
create_oper=#{create_oper},update_oper=#{update_oper} where id=#{id}
</update>


<!-- 删除参数的信息 -->
<delete id="deleteParameter" parameterType="int">
delete from sys_parameter where id=#{id}
</delete>





<!--查找所有的参数类型  -->
<select id="selectAllParameterType" resultType="com.demo.po.SysParameterType">
select * from sys_parm_type
</select>

<!--通过参数的类型名称查找参数  -->
<select id="selectParameterByParameterTypeName" parameterType="String" resultType="com.demo.po.SysParameter">
select * from sys_parameter where sys_parameter.parm_type=#{parm_type}
</select>




<!-- 插入参数类型的信息 -->
<insert id="insertParameterType" parameterType="com.demo.po.SysParameterType">
insert into sys_parm_type(parm_type_name,parm_type_name_cn,
create_time,update_time,create_oper,update_oper) 
values(#{parm_type_name},#{parm_type_name_cn},#{create_time},
#{update_time},#{create_oper},#{update_oper})
</insert>


<!--更新参数类型的信息  -->
<update id="updateParameterType" parameterType="com.demo.po.SysParameterType">
update sys_parm_type set parm_type_name=#{parm_type_name},
parm_type_name_cn=#{parm_type_name_cn},
create_time=#{create_time},update_time=#{update_time},
create_oper=#{create_oper},update_oper=#{update_oper} where id=#{id}
</update>


<!-- 删除参数的信息 -->
<delete id="deleteParameterType" parameterType="int">
delete from sys_parm_type where id=#{id}
</delete>


<!-- 删除参数类型信息时，判断参数类型是否和下面的参数相关联，关联则不让删除 -->
<select id="selectParameterByTypeId" parameterType="int" resultType="com.demo.po.SysParameter">
select * from sys_parm_type,sys_parameter
where sys_parm_type.id=#{id} and sys_parm_type.parm_type_name=sys_parameter.parm_type limit 1
</select>




</mapper>